footer {
    background-color: #2ecc71;
    display: flex;
    justify-content: space-evenly;
    font-family: Montserrat;
    flex-wrap: wrap;
}

footer>div {
    padding: 38px 10px 38px 10px;
}

footer>div>h5 {
    font-size: 2em;
    color: white;
    margin-top: 1px;
    margin-bottom: 19px;
}

footer>div>ul>li {
    margin-top: 5px;
    color: white;
}

footer>div>button {
    margin: 0px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: montserrat;
    font-size: 14px;
    outline: none;
}

footer>div:nth-child(1) {

    display: flex;
    flex-direction: column;
}
footer>div:nth-child(1)>button {
padding: 0px;
}
footer>div:nth-child(1)>a {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

footer>div:nth-child(3) {

    display: flex;
    flex-direction: column;
}

footer>div:nth-child(3)>a {

    margin-bottom: 5px;
}

footer>div:nth-child(4) {

    display: flex;
    flex-direction: column;
}

footer>div:nth-child(4)>a {

    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

footer>div>a {
    text-decoration: none;
    color: white;
}


.footerCopyright {
    width: 100%;
    text-align: center;
    color: white;
}

.footerCopyright>hr {
    background-color: #67f572;
    margin-bottom: 1px;
    border-radius: 10px;
    max-width: 626px;
    margin: 0 auto;
    border-color: transparent;
}




body {
    margin: 0px
}